<!DOCTYPE html>
<html class="bg-[#0B0B09] flex items-center">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/index.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-[#C2BB95] h-screen w-[600px] m-auto text-[#0B0B09] flex flex-col"
  >
    <header class="flex justify-end py-2 px-1 bg-[#938D71]">
      {% block search %}{% endblock %}
    </header>
    <main class="flex-1 overflow-y-auto scroll-auto flex flex-col">
      {% block content %}{% endblock %}
    </main>
    <footer class="bg-[#938D71]">hello</footer>
  </body>
</html>
