<!DOCTYPE html>
<html class="bg-[#0B0B09] flex items-center">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='/css/index.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap" rel="stylesheet">
    
  </head>
  <body class="bg-[#C2BB95] h-full w-[600px] m-auto text-[#0B0B09] items-stretch">
    <header class="flex justify-end py-2 px-1 bg-[#938D71]">
      <form action="/search" method="post" class="flex">
        <input
          type="search"
          name="search"
          id="search"
          class="p-1 border-2 border-r-0 border-slate-700 focus:outline-none focus:border-slate-900"
          required
          value="{{ search }}"
        />
        <input
          type="submit"
          value="Search"
          class="bg-slate-800 text-lg p-1 border-2 border-r-0 border-slate-700 text-white px-2 focus:outline-none focus:border-slate-900"
        />
      </form>
    </header>
    <main class=" scroll-auto">{% block content %}{% endblock %}</main>
    <footer class="bg-[#938D71]">
      hello
    </footer>
  </body>
</html>
